
.todo-list {

    }
    .todo-list_item {
        padding: 8px 16px 8px;
        border-bottom: 1px solid #DCDCDC;
        position: relative;
        }
        .todo-list_item:after {
            content: '';
            clear: both;
            display: table;
            }

        .todo-list_item:hover {
            background: #f5f5f5;
            }

        .todo-list_item_ready-marker {
            float: left;
            margin-right: 16px;
            }

        .todo-list_item_text-w {
            overflow: hidden;
            }

            .todo-list_item_text {
                font-family: 'Helvetica Neue', Arial, sans-serif;
                font-size: 18px;
                position: relative;
                top: 8px;
                color: #808080;
                width: 100%;
                height:32px;
                padding: 0;
                border: none;
                background: none;
                outline: none;
                resize:none;
                }

            .todo-list_item_text.__checked {
                color: #ccc;
                text-decoration: line-through;
                }

        .todo-list_item_remove {
            width:20px;
            height:20px;
            position:relative;
            top:8px;
            float: right;
            margin-left: 16px;
            /*display: none;*/
            visibility: hidden;
            border:none;
            outline:none;
            background: url(../../../images/close.png) no-repeat 0 0;
            }

            @media (-webkit-min-device-pixel-ratio: 1.5),
                   (min-resolution: 120dpi),
                   (min-resolution: 1.5dppx) {
                .todo-creator_check-all {
                    background: url(../../../images/close@2x.png) no-repeat 0 0;
                    }
                }

            .todo-list_item:hover .todo-list_item_remove {
                /*display: block;*/
                visibility: visible;
                }